# MongoDB (local o Atlas)
MONGODB_URI=mongodb://localhost:27017/smartmedic
# MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/smartmedic?retryWrites=true&w=majority

# API
PORT=3000
JWT_SECRET=cambia-esto-en-produccion
